{% extends "layouts/index.html" %}

{% block content %}

	<div class='wrapper'>
		<!-- SECCION CABECERA -->
		<table class='dark'>
			<tbody>
			 
				<tr class='border-dorado'>
					<td colspan='2' class='p-0'>
						<img width='100%' src="https://atlanticcity.pre.tecnalis.com/img/torneo/fondo.png" alt="">
					</td>
				</tr>
				<tr>
				</tr>
			</tbody>
		</table>
		<!-- SECCION BIENVENIDA -->
		<table class='bienvenida'>
			<tbody>
				<tr>
					<td>
						<h3>¡La suerte te acompaña, Ana Cecilia!  </h3> 
						<p>
							Felicitaciones. Ganaste en el <strong class='dorado'>Torneo Turbo</strong>,<br> el cual se realizó el día <strong class='dorado'>21/08/2021.</strong>
						</p>
						<p>
							Lograste la posición número <strong class='dorado'>01</strong> en el ranking y<br> has obtenido un premio en efectivo de:
						</p>
						<p class='price'> 
              S/ 1,000
						</p>
            <p>
              ¡Que siga la suerte!
            </p>

					</td>
				</tr>
			</tbody>
		</table> 
		<!-- SECCION SALUDOS -->
		<table class='saludo pt-0'>
			<tbody>
				<tr>
					<td>
						Saludos,
						<strong>Atlantic City </strong>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- SECCION FOOTER -->
		<table class='dark footer'>
			<tbody>
				<tr class='title'>
					<td colspan='3'>
						<h4>
							Canales de contacto
						</h4>
					</td>
				</tr>
				<tr class='contacto'>
					<td>
						<a target='_blank' href='https://www.casinoatlanticcity.com/'>
							<img width='54' src="https://www.casinoatlanticcity.com/img/email/v2/chat.png" alt="" srcset="">
							<p>Chat</p>
						</a>
					</td>
					<td>
						<a href='mailto:soporte@casinoatlanticcity.com'>
							<img width='54' src="https://www.casinoatlanticcity.com/img/email/v2/email.png" alt="" srcset="">
							<p>soporte@casinoatlanticcity.com</p>
						</a>
					</td>
					<td>
						<a href="tel:017054440">
							<img width='54' src="https://www.casinoatlanticcity.com/img/email/v2/telefono.png" alt="" srcset="">
							<p>
								(01) 705-4440
							</p>
						</a>
					</td>
				</tr>
				<tr class='juega-desde'>
					<td colspan="3">
						<p>
							<span>Juega desde tu:</span> Celular | Tablet | Laptop | Computadora
						</p>
					</td>
				</tr>
				<tr class='terminos'>
					<td colspan='3'>
						<a href="https://www.casinoatlanticcity.com/terminos-y-condiciones" target='_blank'>
							Términos & Condiciones
						</a>
						<img width='38' src="https://www.casinoatlanticcity.com/img/email/v2/18.png" alt="">
					</td>
				</tr>
				<tr class='primary'>
					<td colspan="3">
						<a href="https://www.casinoatlanticcity.com/" target='_blank'>
							www.casinoatlanticcity.com
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

{% endblock %}