{% extends "layouts/index.html" %}

{% block content %}

<div class="wrapper">
  <!-- SECCION CABECERA -->
  <table class="dark">
    <tbody>

      <tr class=" ">
        <td  class="p-0">
          <img width="100%" src="https://casinoatlanticcity.com/img/torneo/vip/fondo-email.jpg" alt="">
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
  
  <!-- SECCION BIENVENIDA -->
  <table class="bienvenida">
    <tbody>
      <tr>
        <td align="center">
          <h3>¡La suerte le sonríe, Polo!</h3>
          <p>
            En el sorteo <b>Atlantic VIP Royal</b> del <b class='dorado' style='color: #C7AB59 !important;'>01/08/2021 </b> <br />ha ganado:
          </p>
          <p class="price" style='font-size: 45px;
          font-weight: bold;
          display: block;
          margin-top: 19px;
          margin-bottom: 35px;
          color: #C7AB59 !important;'>
            $ 999.99
          </p>
          <p>
            Hemos depositado el monto en su cuenta del casino online, con el número de transacción <b>12345678.</b>
          </p>
          <p>
            ¡Mucha suerte en el próximo sorteo!
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- SECCION SALUDOS -->
  <table class="saludo pt-0">
    <tbody>
      <tr align="center">
        <td align="center" style="padding:15px">
          Saludos,
          <b>Atlantic City </b>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- SECCION FOOTER -->
  <table class="dark footer-atlantic">
    <tbody>
      <tr class="title">
        <td align="center">
          <h4 style="padding-top: 29px;font-size: 23px;padding-bottom: 20px;color: white;margin-bottom: 15px;margin-top: 15px;">
            Canales de contacto
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="dark footer-atlantic">
    <tbody>
      <tr class="contacto" align="center">
        <td class="col3" align="center" width='250'>
          <table  align="center" width='250'  >
            <tbody>
              <tr>
                <td align="center">
                  <a target="_blank" href="https://www.casinoatlanticcity.com/">
                    <img width="54" src="https://www.casinoatlanticcity.com/img/email/v2/chat.png" alt="" srcset="" />
                  </a>
                  <span style="color: white">
                    <a target="_blank" href="https://www.casinoatlanticcity.com/" style="color: white">
                      <p style="color: white">Chat</p>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
        <td class="col3" align="center" width='250'>
          <table  align="center" width='250' >
            <tbody>
              <tr>
                <td  align="center">
                  <a href="mailto:soporte@casinoatlanticcity.com">
                    <img width="54" src="https://www.casinoatlanticcity.com/img/email/v2/email.png" alt="" srcset="" />
                  </a>
                  <span style="color: white">
                    <a href="mailto:soporte@casinoatlanticcity.com" style="color: white">
                      <p style="color: white">soporte@casinoatlanticcity.com</p>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="col3" align="center" width='250' >
          <table  align="center" width='250' > 
            <tbody>
              <tr>
                <td align="center">

                  <a href="tel:017054440">
                    <img width="54" src="https://www.casinoatlanticcity.com/img/email/v2/telefono.png" alt="" srcset="" />
                  </a>
                  <span style="color: white">
                    <a href="tel:017054440" style="color: white">
                      <p style="color: white">
                        (01) 705-4440
                      </p>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

    </tbody>
  </table>
  <table align="center" class="dark footer-atlantic">
    <tbody>

      <tr align="center" class="juega-desde">
        <td align="center" style="padding:15px">
          <p style="color: #fff;">
            <span style="color: #fff;">Juega desde tu:</span> Celular | Tablet | Laptop | Computadora
          </p>
        </td>
      </tr>

    </tbody>
  </table>
  <table align="center" class="dark footer-atlantic">
    <tbody>
      <tr align="center" class="terminos">
        <td align="center" style="padding:15px">
          <span style="color: white">
            <a href="https://www.casinoatlanticcity.com/terminos-y-condiciones" target="_blank" style="color: white">
              <p style="color: white !important;">Términos & Condiciones</p>
            </a>
          </span> 
        </td>
      </tr>
      <tr class="">
        <td align="center" style="padding:15px"> 
          <img width="38" src="https://www.casinoatlanticcity.com/img/email/v2/18.png" alt="">
        </td>
      </tr>

    </tbody>
  </table>
  <table align="center" cellpadding="0" cellspacing="0" width="100%" role="presentation" class="primary footer-atlantic">
    <tbody>
      <tr align="center" class="primary">
        <td align="center" style="padding:15px;background: #c7ab59;color: black;">
          <span style="color: black !important;">
            <a href="https://www.casinoatlanticcity.com/" target="_blank" style="color: black !important;">
              <p style="color: white">www.casinoatlanticcity.com</p>
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}