@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";
/* New */
/*Bienvenida */
/*Score */
/* Saludo */
/*Footer*/
/*Utils */
body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  // background-color: red;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
h2 {
  font-family: "Roboto", sans-serif;
}
h3 {
  font-family: "Roboto", sans-serif;
}
h4 {
  font-family: "Roboto", sans-serif;
}
h5 {
  font-family: "Roboto", sans-serif;
}
.bienvenida {
  h1 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
    margin-top: 36px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  h3{
    font-size: 25px;
    color: black;

  }
  strong {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  tr {
    td {
      padding: 24px;
      text-align: center;
    }
  }
  p {
    margin-top: 9px;
    margin-bottom: 9px;
    display: inline-block;
    color: black;
  }
  .btn {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .line {
    width: 100%;
    height: 2px;
    background: #c7ab59;
    margin-bottom: 40px;
    display: block;
  }
}
a {
  text-decoration: none;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}
.wrapper {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: white;
}
.dark {
  background: black;
  background-color: black;
}
.datos {
  color: white;
  border-bottom: 8px solid #c7ab59;
  p {
    font-size: 12px;
    color: white;
  }
  td {
    padding: 15px;
  }
  a {
    font-size: 12px;
    color: #c7ab59;
    text-decoration: underline;
  }
  .logo {
    width: 125px;
  }
}
.line {
  width: 100%;
  height: 1px;
  background: #a4a4a4;
  margin-bottom: 40px;
  display: block;
}
.btn {
  border-radius: 5px;
  color: white !important;
  padding: 14px 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  max-width: 200px;
  margin: 0 auto;
  font-size: 18px;
}
.score {
  padding: 0 24px;
  h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 18px;
  }
  p {
    text-align: center;
    margin-bottom: 32px;
  }
  .count {
    border: 2px solid #c7ab59;
    color: #c7ab59;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    text-align: center;
    line-height: 48px;
    margin: 0 auto;
    margin-bottom: 14px;
    display: block;
    &:hover {
      background: #c7ab59;
      color: white;
    }
    span {
      font-size: 16px;
    }
  }
  span {
    font-size: 16px;
  }
}
.score.score-numbers {
  max-width: 350px;
}
.saludo {
  td {
    padding-top: 55px;
    padding-bottom: 25px;
    font-size: 16px;
    color: black !important;
    text-align: center;
    p{
      text-align: center; 
    }
    b {
      display: block;
    }
  }
}
.footer-atlantic {
  color: white;
  text-align: center;
  background: #292929;
  .primary, &.primary {
    // background: #c7ab59;
    background-color: #c7ab59 !important;
    vertical-align: middle;
    text-align: center;
    td {
      height: 50px;
    }
    a {
      color: black;
      font-size: 18px;
    }
  }
  .title {
    text-align: center;
    td {
      h4{
        padding-top: 29px;

      }
    }
  }
  .contacto {
    a {
      color: white;
    }
    img {
      display: none;
    }
    td {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 8px;
      display: block !important;
    }
    table{
      width: 250px;
      min-width: 250px;
      max-width: 250px;
      text-align: center;
      margin: 10px auto;
      td{
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  h4 {
    text-align: center;
    font-size: 18px;
  }
  .juega-desde {
    td {
      padding: 20px 0;
      margin-top: 20px;
      font-size: 18px;
    }
    // border-bottom: 2px solid white;
    // border-top: 2px solid white;
    text-align: center;
    p{
      font-size: 18px;
    }
    span {
      display: block;
      font-size: 18px;
    }
  }
  .terminos {
    text-align: center;
    color: white;
    td {
      padding: 20px 0;
    }
    a {
      display: block;
      color: white;
      text-decoration: underline;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}
.line-table{
  height: 2px;
  width : 100%;
  background-color: white;
}
/*Detalle Transaccion*/
.detalle-transaccion {
  margin-top: 20px;
  width: 100%;
  font-style: normal;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
}
.detalle-transaccion td {
  width: 50%;
  padding: 14px 10px !important;
}
.detalle-transaccion p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.detalle-transaccion .vertical-line {
  width: 1px;
  height: 76px;
  background: black;
}
.detalle-transaccion td.line-title {
  width: 10px !important;
  text-align: center;
  padding: 0px 10px !important;
}
.detalle-transaccion .text {
  padding-left: 76px;
  padding-right: 76px;
}

/*documento-enviado */
.documento-enviado h1 {
  margin: 0;
  text-align: center;
  margin-top: 36px;
  font-size: 24px;
  /* font-family:"TT Norms Pro Bold" !important; */
  font-weight: bold;
}

.documento-enviado tr td {
  padding: 32px;
  text-align: center;
}

.documento-enviado p {
  margin-top: 9px;
  margin-bottom: 9px;
  display: inline-block;
  padding: 0 2.6rem;
}

.documento-enviado strong {
  font-weight: bold;
  color: #c7ab59;
  /* font-family:"TT Norms Pro Regular"!important; */
}

.documento-enviado .btn {
  margin-top: 32px;
  margin-bottom: 32px;
}

.documento-enviado h1 {
  margin-bottom: 12px;
}

.documento-enviado .line {
  width: 100%;
  height: 2px;
  background: #c7ab59;
  margin-bottom: 40px;
  display: block;
}


		/*respuesta-verificacion */
		.respuesta-verificacion h1 {
			margin: 0;
			text-align: center;
			margin-top: 36px;
			font-size: 24px;
			/* font-family:"TT Norms Pro Bold" !important; */
			font-weight: bold;
		}

		.respuesta-verificacion tr td {
			padding: 28px;
			text-align: center;
		}

		.respuesta-verificacion p {
			margin-top: 9px;
			margin-bottom: 9px;
			display: inline-block;
            padding: 0 3rem;
		}

		.respuesta-verificacion strong {
			font-weight: bold;
		}

		.respuesta-verificacion .aprobado strong {
			color: #C7AB59;
		}

		.respuesta-verificacion .btn {
			margin-top: 32px;
			margin-bottom: 32px;
		}

		.respuesta-verificacion h1 {
			margin-bottom: 12px;
		}

		.respuesta-verificacion .line {
			width: 100%;
			height: 2px;
			background: #C7AB59;
			margin-bottom: 40px;
			display: block;
		}

		/*recuperar-contrasena */
		.recuperar-contrasena h1 {
			margin: 0;
			text-align: center;
			margin-top: 36px;
			font-size: 24px;
			/* font-family:"TT Norms Pro Bold" !important; */
			font-weight: bold;
		}

		.recuperar-contrasena tr td {
			padding: 24px;
			text-align: center;
		}

		.recuperar-contrasena p {
			margin-top: 9px;
			margin-bottom: 9px;
			display: inline-block;
            padding: 0 2.6rem;
		}

		.recuperar-contrasena strong {
			font-weight: bold;
			/* font-family:"TT Norms Pro Regular"!important; */

		}

		.recuperar-contrasena .btn {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.recuperar-contrasena h1 {
			margin-bottom: 12px;
		}

		.recuperar-contrasena .line {
			width: 100%;
			height: 2px;
			background: #C7AB59;
			margin-bottom: 40px;
			display: block;
		}

		.recuperar-contrasena .recuerda{
			background-color: #F3F3F3;
			margin:  0 1rem;
		}

		.recuperar-contrasena .recuerda{
			background-color: #F3F3F3;
			margin:  1rem;
			padding: 15px 0;
		}

		
		/*bloqueo-cuenta */
		.bloqueo-cuenta h1 {
			margin: 0;
			text-align: center;
			margin-top: 36px;
			font-size: 24px;
			/* font-family:"TT Norms Pro Bold" !important; */
			font-weight: bold;
			color: black !important;
		}

		.bloqueo-cuenta tr td {
			padding: 24px;
			text-align: center;
		}

		.bloqueo-cuenta p {
			margin-top: 9px;
			margin-bottom: 9px;
			display: inline-block; 
			color: black !important;
		}

		.bloqueo-cuenta strong {
			font-weight: bold;
            color: #C7AB59;
			/* font-family:"TT Norms Pro Regular"!important; */

		}

		.bloqueo-cuenta .btn {
			margin-top: 32px;
			margin-bottom: 32px;
		}

		.bloqueo-cuenta h1 {
			margin-bottom: 12px;
		}

		.bloqueo-cuenta .line {
			width: 100%;
			height: 2px;
			background: #C7AB59;
			margin-bottom: 40px;
			display: block;
		}

		.bloqueo-cuenta .text-seguridad{
			font-size: 18px;
		}

.imagen-cabecera {
  background: white;
}

.align-right {
  text-align: right;
}
.p-0 {
  padding: 0;
}
.padding-24 {
  padding: 0 24px;
}
.btn-second {
  background: #c20033;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
@media screen and (min-width: 575px) {
  .documento-enviado h1 {
    font-size: 28px;
  }
  .bienvenida {
    h1 {
      font-size: 28px;
    }
  }
  .datos {
    p {
      font-size: 16px;
    }
    a {
      font-size: 16px;
    }
    .logo {
      width: 200px;
    }
  }
  p {
    font-size: 18px;
  }
  .score {
    h3 {
      font-size: 18px;
    }
  }
  .saludo {
    td {
      font-size: 23px;
    }
  }
  .footer-atlantic {
    h4 {
      font-size: 23px;
    }
  }
  .subtitulo {
    font-size: 18px !important;
  }
  .detalle-transaccion .text {
    padding-left: 6px;
    padding-right: 6px;
  }
  .bienvenida .subtitulo-contenido {
    margin: 24px 0px;
    padding-right: 2px;
    padding-left: 2px;
  }
  .detalle-transaccion td {
    width: 50%;
    padding: 0px 0px !important;
  }
	.respuesta-verificacion h1{
		font-size: 28px;
	}
	.recuperar-contrasena h1{
		font-size: 28px;
	}
	.bloqueo-cuenta h1{
		font-size: 28px;
	}
}
@media screen and (min-width: 768px) {
  .documento-enviado h1 {
    font-size: 32px;
  }
  .bienvenida {
    h1 {
      font-size: 32px;
    }
  }
  .datos {
    p {
      font-size: 20px;
    }
    a {
      font-size: 20px;
    }
  }
  p {
    font-size: 20px;
  }
  .footer-atlantic {
    .juega-desde {
      p {
        font-size: 20px;
      }
      span {
        display: inline-block;
      }
    }
    .terminos {
      a {
        font-size: 20px;
      }
    }
    .contacto {
      p {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 25px;
        text-align: center !important;
        color: white !important;
        
      }
      td {
        // display: table-cell !important;
        text-align: center;
        // width: 100%;
        // max-width: 33%;
        color: white !important;
        a{
          color: white !important;
          font-size: 18px;
          span{
            font-size: 18px;
          }
        }
      }
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  .score {
    h3 {
      font-size: 23px;
    }
  }
  .btn {
    font-size: 18px;
  }
  .detalle-transaccion .text {
    padding-left: 16px;
    padding-right: 16px;
  }
  .bienvenida .subtitulo-contenido {
    margin-top: 24px;
    padding-right: 12px;
    padding-left: 12px;
  }
  .subtitulo {
    font-size: 22px !important;
  }
	.respuesta-verificacion h1{
		font-size: 32px;
	}
	.recuperar-contrasena h1{
		font-size: 32px;
	}
	.bloqueo-cuenta .text-seguridad{
		font-size: 23px;
	}
	.bloqueo-cuenta h1{
		font-size: 32px;
	}
}

//==== SECCION TURBO 06-09-12 =====

.border-dorado{
  border-bottom: 13px solid #C7AB59;
  td{
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.dorado{
  color: #C7AB59 !important;
}
p.price , .price{
  font-size: 45px;
  font-weight: bold;
  display: block;
  margin-top: 19px;
  margin-bottom: 35px;
  @extend .dorado;
}
.pt-0 td{
  padding-top: 0 !important;
}
@media screen and (max-width: 600px){ 
  .footer-atlantic .contacto td,
  .footer-atlantic .contacto .col3 {
    margin: 8px auto !important;
    width: 100% !important;
    display: block !important;
  }
  .bienvenida td p br{
    display: none !important;
  }
}